<div class="container-fluid">
  <div class="container">
      <div class="row gapp-15">
          <div class="col-lg-4">
              <label for="First_Name">Client Name</label>
              <input name="Client Name" type="text" width="100" class="form-control txt-border" />
          </div>
          <div class="col-lg-4">
              <label for="Client_Location">Client Location</label>
              <input name="Client Location" type="text" width="100" class="form-control txt-border" />
          </div>
          <div class="col-lg-4">
              <label for="Client_Head">Client Head</label>
              <input name="Client Head" type="text" width="100" class="form-control txt-border" />
          </div>
      </div>
      <div class="row gapp-15">
          <div class="col-lg-4">
              <label for="Status">Status</label>
              <select class="form-control txt-border">
                  <option value=" ">......</option>
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
              </select>
          </div>
      </div>
      <div class="row gapp-25">
          <div class="col-lg-4">
              <button type="submit" value="Submit" width="100" class="btn btn-lg submit-btn">Submit</button>
          </div>
      </div>
  </div>
</div>