<div class="container-fluid">
    <div class="container">
        <form>
            <div class="row gapp-15">
                <div class="col-lg-4">
                    <label for="First_Name">Project Name</label>
                    <input name="Project Name" type="text" class="form-control txt-border" placeholder="First Name" />
                </div>
                <div class="col-lg-4">
                    <label for="Project type">Client Name</label>
                    <input name="Client Name" type="text" width="100" class="form-control txt-border" />
                </div>
                <div class="col-lg-4">
                    <label for="Project type">Owner</label>
                    <input name="Owner" type="text" width="100" class="form-control txt-border" />
                </div>
            </div>
            <div class="row gapp-15">
                <div class="col-lg-4">
                    <label for="Project Details">Project Type</label>
                    <select class="form-control txt-border">
                        <option value=" ">......</option>
                        <option value="Fixed">Fixed</option>
                        <option value="Time and Material">Time and Material</option>
                        <option value="POC">POC</option>
                        <option value="RND">RND</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <label for="Start Date">Start Date</label>
                    <input name="Start Date" type="Date" width="100" class="form-control txt-border" />
                </div>
                <div class="col-lg-4">
                    <label for="End Date">End Date</label>
                    <input name="Start Date" type="Date" width="100" class="form-control txt-border" />
                </div>
            </div>
            <div class="row gapp-15">
                <div class="col-lg-4">
                    <label for="Team Count">Team Count</label>
                    <input name="Team Count" type="Date" width="100" class="form-control txt-border" />
                </div>
                <div class="col-lg-4">
                    <label for="Team Size">Team Size</label>
                    <input name="Team Size" type="Date" width="100" class="form-control txt-border" />
                </div>
                <div class="col-lg-4">
                    <label for="Project Status">Project Status</label>
                    <select class="form-control txt-border">
                        <option value=" ">......</option>
                        <option value="Active">Active</option>
                        <option value="On-hold">On-hold</option>
                        <option value="Closed">Closed</option>
                    </select>
                </div>
            </div>
            <div class="row gapp-25">
                <div class="col-lg-4">
                        <button type="submit" value="Submit" class="btn btn-lg submit-btn">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>