Name:
<input [(ngModel)]="searchText" placeholder="Search by name" class="advancedSearchTextbox">
Designation:
<select [(ngModel)]="searchText">
  <option value="java">manager</option>
  <option value=".net">teamlead</option>
  <option value="sales">salesmanager</option>
  <option value="fresher">fresher</option>
  <option value="ceo">ceo</option>
  <option value="cto">cto</option>
</select>
SkillSet:
<select [(ngModel)]="searchText">
  <option value="java">java</option>
  <option value=".net">.net</option>
  <option value="sales">sales</option>
  <option value="python r&d">python r&d</option>
  <option value="market">market</option>
</select>
Allocation:
<select>
  <option value=" "> </option>
  <option value="bench">bench</option>
  <option value="service">service</option>
  <option value="product">product</option>
  <option value="presales">presales</option>
</select>

<br /><br />
<br /><br />
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Employee Details</h4>
      <div class="table-responsive">
        <table class="table table-hover"
          *ngFor="let emp of customerData | grdFilter: {name: searchText, Dsg: searchText, ss: searchText}; let i=index;">
          <tr>
            <td style="width: 5%;">{{i +1}}</td>
            <td style="width: 10%;">{{emp.name}}</td>
            <td style="width: 10%;">{{emp.Dsg}}</td>
            <td style="width: 10%;">{{emp.ss}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>