<nav class="navigation" id="sidebar">
  <ul class="mainmenu">
    <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/employee" routerLinkActive="active">Employee</a>
      <ul class="submenu">
        <li><a routerLink="/employee/addemp" routerLinkActive="active">Addition Of Employee</a></li>
        <li><a routerLink="/employee/searchemp" routerLinkActive="active">Searching Of Employee</a></li>
      </ul>
    </li>
    <li><a routerLink="/project" routerLinkActive="active">Projects</a>
      <ul class="submenu">
        <li><a routerLink="/project/addpro" routerLinkActive="active">Addition Of Projectss</a></li>
        <li><a routerLink="/employee/searchpro" routerLinkActive="active">Searching Of Project</a></li>
      </ul>
    </li>
    <li><a routerLink="/client" routerLinkActive="active">Clients</a></li>
  </ul>
</nav>

